<h1> Edit Property : <%= @property.address1 %> </h1>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 box">
<form class="edit_prop" action="/property/<%= @property.id %>" method="POST" enctype="multipart/form-data">

<div class='form-group'>
<label for="address1">Enter property address:</label>
<input id="address1" type="text" name="address1" value="<%= @property.address1 %>">
</div>

<div class='form-group'>
<label for="price">Price per day: (£)</label>
<input id="price" type="number" name="price" value="<%= @property.price %>">
</div>

<div class='form-group'>
<label for="bedrooms">Number of bedrooms:</label>
<select id="bedrooms" name="bedrooms">
<% array =(1..10).to_a %>
<% array.map do |x| %>
<% if x == @property.bedrooms %>
<%= "<option value='#{x}' selected='selected'>#{x}</option>" %>
<% else %>
<%= "<option value='#{x}'>#{x}</option>" %>
<% end %>
<% end %>
</select>
</div>

<div class='form-group'>
<label for="description">Enter a description for the property:</label>
<textarea id ="description" name="description"><%= @property.description %></textarea>
</div>

<div class='form-group'>
<label for="file"></label>
<input type="file" name="file">
</div>

<div class='form-group'>
<input type="submit" value="Submit" class="btn btn-default">
</div>
</form>

<form  class="back" action="/property/<%= @property.id %>" method="GET">
<div class='form-group'>
<input type="submit" value="Cancel" class="btn btn-default">
</div>
</form>
</div>
</div>
