<style>
  h1 {
    text-align:center;
    margin:30px auto 0 auto;
    font-size: 40px;
    font-weight:bold;
  }

  .box {
    width:600px;
    border-radius:5px;
    padding: 20px;
    box-shadow: -5px 5px 5px rgba(8,116,171,0.7);
    margin:20px auto auto auto;
    display:block;
    background-color:LightGray;
  }

input[type=submit]
{
  padding:5px;
  -webkit-appearance:button;

}

</style>

<h1> <%= @property.address1 %> </h1>

<div class="box">
  Property ID: <%= @property.id %><br>
  Owner: <%= @property.user.first_name %>&nbsp;<%= @property.user.last_name %><br>
  Listed on: <%= @property.format_time %><br>
  Price: From £<%= @property.price %> per night<br>
  Bedrooms: <%= @property.bedrooms %><br>
  Description: <%= @property.description %><br>

  <img src="<%= @property.file.url %>" width="300"><br>

  <form action='/property/<%= @property.id %>/new_message'>
    <input type='submit' value='Send a message'>
  </form>

  <% if current_user && @property.user.id == current_user.id  %>
    <form class="delete_property" action="/delete_property" method="POST">
      <input type="hidden" name="id" value="<%= @property.id %>">
      <input type="submit" value="Delete property">
    </form>
  <% end %>

</div>

<% @property.messages.reverse.each do |message| %>
  <div class="box">
    <% sender = message.user %>
    Message from: <%= sender.first_name %>&nbsp;<%= sender.last_name %><br>
    <%= message.content %>
  </div>
<% end %>
